@import "colores";
@import "media-screen";


.contenedor_padre_historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.contenedor_historia{
    display: flex;
    flex-direction: column;
    gap: 113px;
}

.historia_breve{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    border: 2px solid $negro;
    padding: 1rem;
    border-radius: 1rem;
    gap: 5rem;
    font-size: 3.5rem;
    box-shadow: 5px 4px 10px $azul;
    background-color: rgba(250, 235, 215, 0.6);
    
    @include mobile {
        display: flex;
        align-items: center;
        text-align: start;
        justify-content: center;
        flex-direction: column;
    }
}
